* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
}

.forma {
  height: 100vh;
  box-shadow: 10px grey;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

h2 {
  position: absolute;
  top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  transform: ;
}


form

input {
  padding: 12px;
}

